<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <meta name="viewport" content="width=device-width, sinitial-scale=0.9">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
        <title>仿QQWeb即时聊天系统开发记录</title>
        <style>
            #list{
                height: 400px;
                overflow-y: auto;
                border:solid 1px #000;
            }
            #list li{
                height: 49px;
            }
        </style>
    </head>
    <body>

        <div class="container center-block text-center">
            <h1>介绍页</h1>
            <ul id="list" class="list-group text-left">
                <li class="list-group-item">20220530:制作demo，三个页面，一个注册控制器，能看出来形状了</li>
            </ul>
            <a href="/login" class="btn btn-default btn-lg">入口直达</a>
        </div>
    </body>
</html>