<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=0.9">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <title>登录</title>
</head>
<body>
    <div class="container">
        <div class="panel panel-danger" style="margin-top:50px;height: 500px">
            <div class="panel-heading">
                <h3 class="panel-title">登录</h3>
            </div>
            <div class="panel-body">
                <p>我们只需要一个代表你的名字，即可畅聊整个聊天室</p>
                <form action="chat" method="get">
                    <div class="input-group">
                        <label for="name">名字：</label>
                        <input id="name" type="text" name="name" class="form-control">
                    </div><br/>
                    <button class="btn btn-default btn-lg" type="submit">Go!</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>