<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=0.9">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <title>登录</title>
</head>
<body>
    <div class="container">
        <div class="panel panel-danger" style="margin-top:50px;height: 500px">
            <div class="panel-heading">
                <h3 class="panel-title">登录</h3>
            </div>
            <div class="panel-body">
                <p>我们只需要一个代表你的名字，即可畅聊整个聊天室</p>
                <form action="chat" method="get">
                    <div class="input-group">
                        <label for="name">名字：</label>
                        <input id="name" type="text" name="name" class="form-control">
                    </div><br/>
                    <button class="btn btn-default btn-lg" type="submit">Go!</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>